# Discord OAuth 配置
DISCORD_CLIENT_ID=1476629633024921710	# 客户端ID
DISCORD_CLIENT_SECRET=YhpLZW7U_vYd5yBOeos-VgJ_4wK-M9zX	# 客户端密钥
DISCORD_BOT_TOKEN=MTQ3NjYyOTYzMzAyNDkyMTcxMA.G114j_.E6i0B6HfdVG1OYxV1yN104EF2P-e92ENh6XYEg	# Bot令牌
DISCORD_GUILD_ID=1476229450797547591	# 服务器ID
DISCORD_REDIRECT_URI=https://h.hony-wen.com:3097/auth/discord/callback	# 重定向url